---
layout: default
load_leaflet: 1
---
<div id="map" style="height: auto; width:100%; background-color:lightgrey;aspect-ratio: 1.5;"></div>
{{content}}
<script src="{{ '/assets/js/3rd-party/jquery.min.js' | relative_url }}"></script>
<script>
  const castleIconUrl = '{{ "/assets/images/castle.png" | relative_url }}';
</script>
<script src="{{ '/assets/js/pois.js' | relative_url }}"></script>

<script src="{{ '/assets/js/3rd-party/leaflet.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/3rd-party/leaflet-fullscreen.min.js' | relative_url }}"></script>
